.main-container{
    margin: auto;
    max-width: 1024px;
}
.mat-toolbar.mat-primary{
    margin: 40px 0 20px 0;
}
.questions,.condicionantes{
    margin: 0;
    padding: 10px 20px 25px;
}
.condicionantes{
    background:#EEE;
}
.option-respuesta{
    margin: 10px 0;
    white-space: normal;
}
.option-respuesta > label{
    margin: 10px 0;
}
.mat-form-field{
    width: 100%;
}
.mat-radio-button span{
    white-space: normal;
}
.mat-checkbox span{
    white-space: normal;
}