<header class="header">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch" class="row-example">
        <div class="logo" fxLayoutAlign="center center">
            <img width="100px" src="/assets/img/logo.png" alt="">
        </div>
        <div>
            <h1 class="header__title">
                Cliente Incognito - Happy land
            </h1>
        </div>
        <div class="logo" fxShow="true" fxLayoutAlign="center center" fxHide.xs="true">
            <img width="80px" src="/assets/img/logo2.png" alt="">
        </div>
    </div>
</header>