<header class="header">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between stretch" class="row-example">
        <div class="logo" fxLayoutAlign="center center">
            <img width="100px" src="/assets/img/logo.png" alt="">
        </div>
        <div>
            <h1 class="header__title">
                Cliente Incognito - Happy land
            </h1>
        </div>
        <div class="logo" fxShow="true" fxLayoutAlign="center center" fxHide.xs="true">
            <img width="80px" src="/assets/img/logo2.png" alt="">
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="left" class="bar-menu">
        <div class="item" fxLayoutAlign="center left">
            <a href="/home" mat-raised-button>
                + Nueva encuesta
            </a>
        </div>
        <div class="item" fxLayoutAlign="center left">
            <a href="/registrar-sucursales" mat-raised-button>
                + Nueva sucursal
            </a>
        </div>
        <div class="item" fxLayoutAlign="center left">
            <a href="/resultados" mat-raised-button>
                Ver resultados
            </a>
        </div>
        <div class="item" fxLayoutAlign="center left">
            <a href="/resultados" mat-raised-button>
                Ver resultados
            </a>
        </div>
        <div class="item" fxLayoutAlign="center left">
            <a href="/resultados-sucursales" mat-raised-button>
                Ver resultados por sucursal
            </a>
        </div>
    </div>
</header>