<div class="presentacion-personal">
  <div class="questions">
    <h2>
      <strong>PREGUNTA:</strong>
      <p>
        ¿Cuanto cuesta la recarga mínima?
      </p>
    </h2>
    <mat-radio-group class="radio-group">
      <mat-radio-button value="1" class="radio-group__radio">El colaborador indicó que la recarga mínima es por un monto superior a S/5 </mat-radio-button>
      <mat-radio-button value="2" class="radio-group__radio">El colaborador indicó que la recarga mínima es de S/5</mat-radio-button>
    </mat-radio-group>
    <app-pregunta *ngFor="let p of preguntas" [pregunta]="p"></app-pregunta>
  </div>
</div>
