<div class="main-container">
  <app-header></app-header>
  <mat-toolbar color="" class="toolbar">
    <span></span>
    <a href="/home" mat-raised-button>
      + Nueva encuesta
    </a>
    <a href="/resultados" mat-raised-button>
      Ver resultados
    </a>
    <a href="/resultados-sucursales" mat-raised-button>
      Ver resultados por sucursal
    </a>
  </mat-toolbar>
  <mat-toolbar color="primary">
    <span>
      Resultados de Encuestados
    </span>
  </mat-toolbar>
  <div *ngIf="datas?.length > 0;else noDatas">
    <div class="clearfix" *ngFor="let data of datas" class="collection">
      <div class="table-container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div fxFlex="100%">
          <table class="">
            <tr>
              <th>
                SUCURSAL
              </th>
              <th>
                <span title="Recarga Minima">
                  0
                </span>
              </th>
              <th>
                <span title="Llegada a Punto de venta">
                  1
                </span>
              </th>
              <th>
                <span title="Calidad de la atención en caja">
                  2
                </span>
              </th>
              <th>
                <span title="Venta sugestiva: Impulsación de ventas y promociones">
                  3
                </span>
              </th>
              <th>
                <span title="Al salir del punto de venta">
                  4
                </span>
              </th>
              <th>
                <span title="Apariencia hombres">
                  5.1
                </span>
              </th>
              <th>
                <span title="Apariencia mujeres">
                  5.2
                </span>
              </th>
              <th>
                <span title="Actitud personal">
                  6
                </span>
              </th>
              <th>
                <span title="Asesoria atención en juegos">
                  7
                </span>
              </th>
              <th>
                <span title="Happy Birthday presentación">
                  8
                </span>
              </th>
              <th>
                <span title="Happy Birthday Atención">
                  9
                </span>
              </th>
              <th>
                <span title="Happy Birthday negociación">
                  10
                </span>
              </th>
              <th>
                <span title="Happy Kids presentación">
                  11
                </span>
              </th>
              <th>
                <span title="Happy Divas presentación">
                  12
                </span>
              </th>
              <th>
                <span title="Numero de maquinas mal con letrero">
                  13
                </span>
              </th>
              <th>
                <span title="Maquinas sucias">
                  14
                </span>
              </th>
              <th>
                <span title="Incidencias maquinas en remodelación">
                  15
                </span>
              </th>
              <th>
                <span title="Incidentes Operadores juegos mecanicos">
                  16
                </span>
              </th>
              <th>
                <span title="Calidad de atención">
                  17
                </span>
              </th>
              <th>
                <span title="Despedida en canje">
                  18
                </span>
              </th>
            </tr>
            <tr>
              <td>
                {{ data.sucursal }}
              </td>
              <td>
                <!--0-->{{ data.pv_recargaMinima }}
              </td>
              <td>
                <!--1-->{{ data.pv_llegadaPuntoVenta }}
              </td>
              <td>
                <!--2-->{{ data.pv_calidadAtencion }}
              </td>
              <td>
                <!--3-->{{ data.pv_ventaSugestiva }}
              </td>
              <td>
                <!--4-->{{ data.pv_salida }}
              </td>
              <td>
                <!--5.1-->{{ data.es_aparienciaHombres }}
              </td>
              <td>
                <!--5.2-->{{ data.es_aparienciaMujeres }}
              </td>
              <td>
                <!--6-->{{ data.es_actitudPersonal }}
              </td>
              <td>
                <!--7-->{{ data.es_asesoriaAtencionJuegos }}
              </td>
              <td>
                <!--8-->{{ data.un_happyBirthdayPresentacion }}
              </td>
              <td>
                <!--9-->{{ data.un_happyBirthdayAtencion }}
              </td>
              <td>
                <!--10-->{{ data.un_happyBirthdayNegociacion }}
              </td>
              <td>
                <!--11-->{{ data.un_happyKidsPresentacion }}
              </td>
              <td>
                <!--12-->{{ data.un_happyDivasPresentacion }}
              </td>
              <td>
                <!--13-->{{ data.oll_numMaqMalLetrero }}
              </td>
              <td>
                <!--14-->{{ data.oll_numMaqSucias }}
              </td>
              <td>
                <!--15-->{{ data.oll_incProRemodelacion }}
              </td>
              <td>
                <!--16-->{{ data.oll_incOperadoresJuegos }}
              </td>
              <td>
                <!--17-->{{ data.c_calidadAtencion }}
              </td>
              <td>
                <!--18-->{{ data.c_canjeSalida }}
              </td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>


  <ng-template #noDatas>
    <h5>
      Aun no se ha registrado nada
    </h5>
  </ng-template>
</div>