<div class="main-container">
  <app-header></app-header>
  <mat-toolbar color="primary">
    <span>
      Resultados de Encuestados
    </span>
  </mat-toolbar>
  <div>
    <div class="table-container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div fxFlex="50%">
        <table class="">
          <tr>
            <th>
              Promedio c_calidadAtencion
            </th>
            <td>
              {{prom.c_calidadAtencion}}
            </td>
          </tr>
        </table>
      </div>
      <div fxFlex="50%">
      </div>
    </div>
  </div>


  <ng-template #noDatas>
    <h5>
      Aun no se ha registrado nada
    </h5>
  </ng-template>
</div>