.main-container {
margin: auto;
max-width: 1024px;
font-family: 'Open Sans', sans-serif;
}
.mat-toolbar.mat-primary {
margin: 40px 0 20px 0;
font-size: 16px;
white-space: normal;
line-height: 1.4;
}
.questions,
.condicionantes {
margin: 0;
padding: 10px 20px 25px;
}
.condicionantes {
background: #eee;
}
.option-respuesta {
margin: 10px 0;
white-space: normal;
}
.option-respuesta > label {
margin: 10px 0;
}
.mat-form-field {
width: 100%;
}
.mat-radio-button span {
white-space: normal;
}
.mat-checkbox span {
white-space: normal;
}
.text-details {
font-size: 16px;
}
.center {
text-align: center;
}
.datos {
margin: 0;
padding: 10px 5px 25px;
font-size: 20px;
}
.text-message{
    font-size: 14px;
}