<div class="container">
  <div *ngIf="sucursales?.length > 0;else noSucursales" class="sucursales">
    <div class="sucursal-collection" *ngFor="let sucursal of sucursales">
      <div class="sucursal">
        {{ sucursal.nombre }}
      </div>
    </div>
  </div>
  <ng-template #noSucursales>
    <h5>
      Aun no se ha registrado ninguna sucursal
    </h5>
  </ng-template>
  <div class="add-sucursales">
    <p>
      Agregar sucursales
    </p>
    <mat-form-field>
      <input matInput placeholder="XX Máquinas fuera de servicio">
    </mat-form-field>
    <div>
      <button>
        Add Sucursal
      </button>
    </div>
  </div>
</div>