<div class="main-container">
  <app-header></app-header>
  <div class="table-container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex="50%">
      <div *ngIf="sucursales?.length > 0;else noSucursales" class="sucursales">
        <ul class="sucursal-collection" *ngFor="let sucursal of sucursales">
          <li class="sucursal">
            {{ sucursal.nombre }}
          </li>
        </ul>
      </div>
      <ng-template #noSucursales>
        <h5>
          Aun no se ha registrado ninguna sucursal
        </h5>
      </ng-template>
    </div>
    <div fxFlex="50%">
      <div class="add-sucursales">
        <p>
          Agregar nueva sucursal
        </p>
        <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm" [formGroup]="form">
          <mat-form-field>
            <input matInput placeholder="Nueva sucursal" formControlName="nombre">
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" class="submit-btn" type="submit">Agregar sucursal</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>